/* global.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1,
h2,
p {
  margin: 20px;
}

.section {
  padding: 20px;
}

.section-divider {
  height: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .image-box {
    flex-basis: 100%;
  }
}
